<%= form_for(@teacher, as: :teacher_sign_in, html: { :style => "background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem; background-color: #fff; background-color: rgba(255,255,255,0.5); padding-top: 20px;", :class => "border border-primary form-signin mb-sm-1 mb-md-3 mb-lg-4 mb-xl-5"}, url: teachers_sign_in_path(@student)) do |f| %>

<p style="font-size: 20px;">Sign In - Teacher</p>
<br>
	<%= f.text_field :lab_id, :required => true, :style => "margin-bottom: 20px;", :class => "form-control", :placeholder => "Lab Id"%>
	<div class="form-group">
		<%= f.select :branch, options_for_select([["CSE", "cse"], ["Mechanical", "me"], ["Electrical", "etc"]]), {}, { :class => 'form-control' } %>
	</div>
		<%= f.submit "Sign In", :class => "btn btn-lg btn-primary btn-block" %>
<% end %>

